{% extends "admin/base_site.html" %}

{% load static %}

{% block content %}
<!-- templates/list_todos.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
        <link rel="stylesheet" href="{% static "todos/style.css" %}">
    </head>
    <body>
        <h1>Todo List</h1>
        <button onclick="location.href='{% url 'add_todo' %}'">Add a new Todo</button>
        <ul>
            {% for todo in todos %}
                <li>
                    <strong>{{ todo.title }}</strong><br>
                    <p>Description: {{ todo.description }}</p>
                    <p>Created at: {{ todo.created_at }}</p>
                    <a href="{% url 'delete_todo' todo.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </body>
    </html>
{% endblock %}
