{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('ChihChien Hsiao') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'list_todos' %}">ChihChien Hsiao</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  {% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}