{% extends "admin/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('ChihChien Hsiao') }}{% endblock %}

{% block branding %}
<div id="site-name"><a href="{% url 'list_events' %}">Chih-Chien Hsiao</a></div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'list_events' %}">{% translate 'Home' %}</a>
  <span style="margin: 0 10px;">|</span>
  <a href="{% url 'list_todos' %}">{% translate 'Todos' %}</a>
  <span style="margin: 0 10px;">|</span>
  <a href="{% url 'list_events' %}">{% translate 'Events' %}</a>
  <span style="margin: 0 10px;">|</span>
  <a href="{% url 'polls:index' %}">{% translate 'Feedback' %}</a>
  <span style="margin: 0 10px;">|</span>
  <a href="{% url 'login' %}">{% translate 'Login' %}</a>
  <span style="margin: 0 10px;">|</span>
  <a href="{% url 'logout' %}">{% translate 'Logout' %}</a>
  <span style="margin: 0 10px;">|</span>
  <a href="{% url 'register' %}">{% translate 'Register' %}</a>

  {% if title %} &rsaquo; {{ title }}{% endif %}
</div>
{% endblock %}