{% extends "admin/base_site.html" %}

{% block content %}
{% load static %}
<h2>Manage</h2>
<form method="post" action="{% url 'retag_all_events' %}">
    {% csrf_token %}
    <button type="submit">ReTagAllEvents</button>
</form>
<form method="post" action="{% url 'clear_all_event_tags' %}">
    {% csrf_token %}
    <button type="submit">ClearAllEventsTags</button>
</form>
<h2>Unique Visitors</h2>
<table>
    <thead>
        <tr>
            <th>IP Address</th>
            <th>Last Visited</th>
        </tr>
    </thead>
    <tbody>
        {% for log in visitor_logs %}
        <tr>
            <td>{{ log.ip_address }}</td>
            <td>{{ log.last_visited }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

